<launch>

    <!--- TF -->
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0 camera base_link 100" />
<!--     <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0 -1.570795 -1.570795 0 camera base_link 100" /> -->
    <!--- LeGO-LOAM -->    
    <node pkg="carla_lego_loam" type="imageProjection"    name="imageProjection"    output="screen"/>
    <node pkg="carla_lego_loam" type="featureAssociation" name="featureAssociation" output="screen"/>
    <node pkg="carla_lego_loam" type="mapOptmization"     name="mapOptmization"     output="screen"/>
    <node pkg="carla_lego_loam" type="transformFusion"    name="transformFusion"    output="screen"/>

</launch>
