<!-- -->
<launch>

  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='role_name' default='ego_vehicle'/>
  <arg name="vehicle_filter" default='vehicle.lincoln.mkz2017'/>
  <!-- use comma separated format "x,y,z,roll,pitch,yaw" -->
  <!-- <arg name="spawn_point" default="3, 50, 0.1, 0, 0, -90"/> -->

  <arg name="town" default='Town02'/>
  <arg name='synchronous_mode' default=''/>
  <arg name='synchronous_mode_wait_for_vehicle_control_command' default=''/>
  <arg name='fixed_delta_seconds' default=''/>

  <arg name="spawn_point" default="190, 150, 0.1, 0, 0, -90"/>
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="190 -150 2.653 -0.000 0.000 -0.707 0.707 map camera_init 100" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find carla_2d_nav)/maps/$(arg town).yaml" respawn="false" />

  <include file="$(find carla_ros_bridge)/launch/carla_ros_bridge.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='town' value='$(arg town)'/>
    <arg name='synchronous_mode' value='$(arg synchronous_mode)'/>
    <arg name='synchronous_mode_wait_for_vehicle_control_command' value='$(arg synchronous_mode_wait_for_vehicle_control_command)'/>
    <arg name='fixed_delta_seconds' value='$(arg fixed_delta_seconds)'/>
  </include>

  <include file="$(find carla_2d_nav)/launch/carla_example_ego_vehicle.launch">
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name="vehicle_filter" value='$(arg vehicle_filter)'/>
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name="spawn_point" value="$(arg spawn_point)"/>
  </include>

  <include file="$(find carla_manual_control)/launch/carla_manual_control.launch">
    <arg name='role_name' value='$(arg role_name)'/>
  </include>

  <include file="$(find carla_aloam)/launch/aloam_velodyne_carla.launch" />

  <arg name="rviz" default="true" />
  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find carla_aloam)/rviz/aloam_carla.rviz"/>
  </group>

</launch>
